Repository brycehenson/pytest-nb-as-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout-fast, isort

nbstripout-fast:
  name: nbstripout-fast
  entry: nbstripout-fast
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

update version
  .vscode/dictionary/misc.txt
  CHANGELOG.md
  pyproject.toml
Due: none

push.autoSetupRemote true
  .devcontainer/post-create.sh
Due: none

minor fixes
  .github/workflows/ci.yml
  MANIFEST.in
  README.md
  pyproject.toml
  pytest_nb_as_test/item.py
Due: isort

add more versions to ci
  .github/workflows/ci.yml
Due: none

fix tags
  pyproject.toml
  uv.lock
Due: none

fix default groups
  pyproject.toml
Due: none

intenting
  pytest_nb_as_test/item.py
Due: isort

add more tests , for directive and mp cases
  README.md
  pytest_nb_as_test/item.py
  tests/notebooks/error_cases/test_cfe_spawn_guardrail.ipynb
  tests/notebooks/error_cases/test_mp_forkserver_pool_guardrail.ipynb
  tests/notebooks/error_cases/test_mp_spawn_pool_guardrail.ipynb
  tests/notebooks/error_cases/test_over_indented_directive.ipynb
  tests/notebooks/error_cases/test_over_indented_directive.nbconvert.ipynb
  tests/notebooks/test_mp_fork_top_level_function_async_exec_mode.ipynb
  tests/notebooks/test_multiprocessing_local_function.ipynb
  tests/notebooks/test_trailing_cell_timeout_comment.ipynb
  tests/notebooks/test_trailing_test_cell_comment.ipynb
  tests/test_plugin.py
Due: nbstripout-fast, isort

fix a test
  pytest_nb_as_test/item.py
  tests/notebooks/error_cases/test_over_indented_directive.nbconvert.ipynb
Due: nbstripout-fast, isort

improve testing of mp + async use
  tests/notebooks/error_cases/test_failure_asyncio_processpool_fork_notebook_worker.ipynb
  tests/notebooks/error_cases/test_failure_asyncio_processpool_spawn_notebook_worker.ipynb
  tests/notebooks/error_cases/test_over_indented_directive.ipynb
  tests/notebooks/test_asyncio_multiprocessing_pool_spawn_importable_worker.ipynb
  tests/notebooks/test_asyncio_processpool_spawn_importable_worker.ipynb
  tests/notebooks/test_indented_magics.ipynb
  tests/test_plugin.py
Due: nbstripout-fast, isort

fix mp for 3.14
  .github/workflows/ci.yml
  CHANGELOG.md
  pytest.ini
  tests/notebooks/test_multiprocessing_local_function.ipynb
  tests/test_plugin.py
Due: nbstripout-fast, isort

remove numpy where possible, update lock file
  .github/workflows/ci.yml
  pyproject.toml
  tests/notebooks/test_asyncio_multiprocessing_pool_spawn_importable_worker.ipynb
  tests/notebooks/test_asyncio_processpool_spawn_importable_worker.ipynb
  tests/notebooks/test_magics.ipynb
  tests/notebooks/test_must_raise.ipynb
  uv.lock
Due: nbstripout-fast

improving holes in multiprocessing, trying to catch other edge cases
  .github/workflows/ci.yml
  CHANGELOG.md
  MANIFEST.in
  README.md
  pyproject.toml
  pytest_nb_as_test/item.py
  pytest_nb_as_test/plugin.py
  tests/notebooks/hard_async_detection.ipynb
  tests/notebooks/test_get_ipython_globals.ipynb
  tests/notebooks/test_main.ipynb
  tests/test_plugin.py
  tools/probe_version_compatability.py
  tools/pytest_version_probe.sh
  uv.lock
Due: nbstripout-fast, isort

mp context guarails
  pyproject.toml
  pytest_nb_as_test/item.py
  tests/notebooks/error_cases/test_cfe_import_path_spawn_guardrail.ipynb
  tests/notebooks/error_cases/test_ctx_process_spawn_guardrail.ipynb
  tests/notebooks/error_cases/test_mp_pool_import_path_spawn_guardrail.ipynb
  tests/notebooks/error_cases/test_mp_process_spawn_guardrail.ipynb
  tests/notebooks/test_main.nbconvert.ipynb
  tests/test_plugin.py
  tools/probe_version_compatability.py
  uv.lock
Due: nbstripout-fast, isort

fix bug with long runtime, add timeout to ci jobs
  .github/workflows/ci.yml
  CHANGELOG.md
  pytest.ini
  pytest_nb_as_test/item.py
Due: isort

change ci job
  .github/workflows/ci.yml
  tests/notebooks/test_mp_fork_top_level_function_async_exec_mode.ipynb
  tests/test_plugin.py
Due: nbstripout-fast, isort

split up item, fixing windows ci tests
  .github/workflows/ci.yml
  pytest.ini
  pytest_nb_as_test/item.py
  pytest_nb_as_test/multiprocessing_guard.py
  tests/test_plugin.py
Due: isort

try to fix crash in windows CI test
  .github/workflows/ci.yml
  tests/test_plugin.py
Due: isort

clean dead code
  pytest_nb_as_test/multiprocessing_guard.py
Due: isort

try windows ci fix
  .github/workflows/ci.yml
  CHANGELOG.md
  pytest_nb_as_test/timeout.py
  tests/test_timeout.py
Due: isort

add merge-gate job for the ci
  .github/workflows/ci.yml
  pytest_nb_as_test/timeout.py
  tests/test_timeout.py
Due: isort

add more version combos to pytest-matrix
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: none

fix version typo
  .github/workflows/ci.yml
Due: none

add warning when handling from __future__
  CHANGELOG.md
  README.md
  pytest_nb_as_test/item.py
  tests/notebooks/test_future_non_leading_warning.ipynb
  tests/test_plugin.py
Due: nbstripout-fast, isort

update version
  pyproject.toml
Due: none

extend timeout
  .github/workflows/ci.yml
Due: none

planned changes
  README.md
Due: none

Path conditions:
  nbstripout-fast: any of: \.ipynb$
  isort: any of: \.py$
